@import '~styles/variables.scss';

.nav {
	transition: left $fast;
	will-change: left;
	position: fixed;
	top: $header-height;
	bottom: 0;
	left: 0;
	background-color: $primary-color;
	color: white;
	overflow: hidden auto;

	width: $nav-width;
	
	@include for-phone {
		top: 0;
	}

	@include for-tablet {
		left: -$nav-width;
	}

	> ul {
		display: grid;
		grid-gap: .5rem;
		margin-top: 1rem;

		> li > a {
				padding: .5rem 1rem;
				display: block;
				transition: background-color $fast;

				&:focus,
				&:hover {
					transition: background-color 0s;
					background-color: $secondary-color;
				}
		}
	}

	&.nav-expanded {
		left: 0;
	}

	.nav-header {
		display: none;
		height: $header-height;
		color: inherit;
		padding: .5rem;
		padding-left: 1rem;
		border-bottom: 1px solid;
		
		.close-btn{
			margin-left: auto;
			font-size: 2.5em;
			line-height: 2rem;
		}

		@include for-phone {
			display: flex;
			align-items: center;
		}
	}

}

@include for-phone {
	.phone-backdrop {
		position: fixed;
		cursor: pointer;
		top: 0;
		background-color: rgba(0, 0, 0, .3);
		height: 100%;
		width: 100%;
	}
}