@import "~styles/variables.scss";

$bar-width: 1.2rem;
$bar-height: 0.2rem;
$bar-spacing: 0.4rem;
$faster: 0.15s;

.menu-wrapper {
	display: inline-block;
	width: $bar-width;
	height: $bar-height + $bar-spacing * 2;
	cursor: pointer;
}

.burger-menu,
.burger-menu:after,
.burger-menu:before {
	width: $bar-width;
	height: $bar-height;
	border-radius: .25rem;
}

.burger-menu {
	position: relative;
	transform: translateY($bar-spacing);
	background: currentColor;
	transition: all 0ms $faster;
	will-change: transform;

	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		background: currentColor;
	}

	&:before {
		will-change: bottom;
		bottom: $bar-spacing;
		transition:
			bottom $faster $faster ease-in-out,
			transform $faster ease-in-out;
	}

	&:after {
		will-change: top;
		top: $bar-spacing;
		transition:
			top $faster $faster ease-in-out,
			transform $faster ease-in-out;
	}

	&--open {
		background: transparent;

		&:before {
			bottom: 0;
			transform: rotate(-45deg);
			transition:
				bottom $faster ease-in-out,
				transform $faster $faster ease-in-out;
		}

		&:after {
			top: 0;
			transform: rotate(45deg);
			transition:
				top $faster ease-in-out,
				transform $faster $faster ease-in-out;
		}
	}
}
