$primary-color: #282c34;
$secondary-color: rgba(223,223,223, .75);

$header-height: 3rem;
$nav-width: 12rem;

$fast: 0.3s;

$shadow-light: 0 .25rem 1rem 0 rgba(0, 0, 0, 0.1);

@mixin for-phone {
	@media (max-width: 36rem) {
		@content;
	}
}

@mixin for-tablet {
	@media (max-width: 62rem) {
		@content;
	}
}