@import '~styles/variables.scss';

.header {
	display: flex;
	justify-content: space-between;

	background: white;
	height: $header-height;
	padding: .5rem 1rem .5rem .75rem;

	position: sticky;
	top: 0;

	transition: box-shadow $fast ease-in-out;

	&--scrolled {
		box-shadow: $shadow-light;
	}
}
