@import '~styles/variables.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro,
		Menlo,
		Monaco,
		Consolas, 
		"Courier New",
		monospace;
}

button {
	background-color: transparent;
	border: none;
	border-radius: .25rem;
	padding: 0 .25rem;
	cursor: pointer;
	color: inherit;

	&:focus,
	&:hover {
		background-color: $secondary-color;
	}

	&:focus {
		outline: none;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:focus,
	&:hover {
		text-decoration: underline;
	}

	&:focus {
		outline: none;
	}
}
